.movie{
  margin:3px;
  height:200px;
  width:150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  img{
    width:100%;
    height:85%;
    object-fit: cover;
    object-position: center;
  }
  .movie-title{
    height:15%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
  }
}


