nav{
  display: flex;
  justify-content: space-between;
  height:8vh;
  align-items: center;
  background:coral;

  padding: 0 5vw;
  .nav-items{
    display: flex;
    justify-content: space-between;
    width:35%;
  }
}
