<nav>
  <div class="logo">Logo</div>
  <div class="nav-items">
    <div class="nav-item">Home</div>
    <div class="nav-item">Home</div>
    <div class="nav-item">Home</div>
    <div class="nav-item">Home</div>
    <div class="nav-item">Home</div>
  </div>
</nav>
