.side-bar{
  padding:2vh 3vw 2vh 5vw;
  background:rgba(0,0,0,0.8);
  color:white;
  display: flex;
  flex-direction: column;
  width:17.5%;
  height:100%;
  .side-bar-item{
    padding:10px 0;
  }
}
