<div class="side-bar">
  <div class="side-bar-item">Home</div>
  <div class="side-bar-item">Home</div>
  <div class="side-bar-item">Home</div>
  <div class="side-bar-item">Home</div>
  <div class="side-bar-item">Home</div>
  <div class="side-bar-item">Home</div>
</div>
